commonss/drafts/nrs_research_schema.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="stationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="abbrv"/>
        <xs:element ref="stationName"/>
        <xs:element ref="researchUnits"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="abbrv" type="xs:NCName"/>
  <xs:element name="stationName" type="xs:string"/>
  <xs:element name="researchUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="researchUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="researchUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="unitNumber"/>
        <xs:element ref="unitName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unitNumber" type="xs:integer"/>
  <xs:element name="unitName" type="xs:string"/>
</xs:schema>
